<div class="section">
	<p>PRIMARY AND ACCENT COLORS</p>
	<ul class="sg-colors">
		<li>
			<span class="sg-swatch" style="background: #95d678;"></span>
			<div class="sg-right">
			<span class="sg-label">HEX #95d678</span> <br />
			<span class="sg-label">RGBa 149 214 120</span>
			</div>
		</li>
		<li><p class="sg-use">Buttons, Pagination, Navigation</p></li>
		<li>
			<span class="sg-swatch" style="background: #81ab49;"></span>
			<div class="sg-right">
			<span class="sg-label">HEX #81ab49</span> <br />
			<span class="sg-label">RGBa 129 171 73</span>
			</div>
		</li>
		<li><p class="sg-use">Buttons, Main menu</p></li>
		<li>
			<span class="sg-swatch" style="background: #ff4351;"></span>
			<div class="sg-right">
			<span class="sg-label">HEX #ff4351</span> <br />
			<span class="sg-label">RGBa 255 67 81</span>
			</div>
		</li>
		<li><p class="sg-use">Featured item, CTA buttons</p></li>
		<li>
			<span class="sg-swatch" style="background: #fc880f;"></span>
			<div class="sg-right">
			<span class="sg-label">HEX #fc880f</span> <br />
			<span class="sg-label">RGBa 252 136 15</span>
			</div>
		</li>
		<li><p class="sg-use">Product details page, CTA button</p></li>
	</ul>
	</div>
	<div class="section">
		<p>GREY TEXT COLORS AND BACKGROUNDS</p>
		<ul class="sg-colors">
			<li>
				<span class="sg-swatch" style="background: #3f3f3f;"></span>
				<div class="sg-right">
				<span class="sg-label">HEX #3f3f3f</span> <br />
				<span class="sg-label">RGBa 63 63 63</span>
				</div>
			</li>
			<li><p class="sg-use">Main text</p></li>
			<li>
				<span class="sg-swatch" style="background: #757575;"></span>
				<div class="sg-right">
				<span class="sg-label">HEX #757575</span> <br />
				<span class="sg-label">RGBa 117 117 117</span>
				</div>
			</li>
			<li><p class="sg-use">Icons</p></li>
			<li>
				<span class="sg-swatch" style="background: #e0e0e0;"></span>
				<div class="sg-right">
				<span class="sg-label">HEX #e0e0e0</span> <br />
				<span class="sg-label">RGBa 224 224 224</span>
				</div>
			</li>
			<li><p class="sg-use">Secondary Text</p></li>
			<li>
				<span class="sg-swatch" style="background: #fafafa;"></span>
				<div class="sg-right">
				<span class="sg-label">HEX #fafafa</span> <br />
				<span class="sg-label">RGBa 250 250 250</span>
				</div>
			</li>
			<li><p class="sg-use">Footer background</p></li>
		</ul>
		</div>
