<h1 class="typography">Open Sans (Google Font) </h1>
<p class="typo__normal">Normal 400 <span>(Paragraphs, Links, Blockquote)</span></p>
<p class="typo__semib">Semi Bold 500 <span>(H1, H2, H3, H4, H5, H6)</span></p>
<p class="typo__bold">Bold 700 <span>(< strong >)</span></p>
